email.pwd=noReply#boyaa

table.rowkey={fields:{_plat:5,_uid:10,_tm:10},reverse:true,line_num:true}
table.name.key=_tnm
# 32M
table.write.buffer.size=33554432

# 81d298e676fd5886682ae8438e285b03#201408292143#user_order#604#111.223.33.13#55005.gz
tm.index=1
table.name.index=2
plat.index=3

# games.ini _bpid=_gid,_plat,_ver,_tzone,ismobile,msid
bpid.mapping=_gid,_plat,_ver,_tzone,ismobile,msid

# which columns would not store into hbase
exclude.columns=_tnm,_tzone,ismobile,msid

#排除需要入库的表，各表之间用英文逗号分开
exclude.tables=
include.tables=
remove.tables=
#不做处理
not.process=

#程序部署环境开关，取值为：local/server
env=server

# split rule is seperate by blank, see split.ini. such as: finished_gameparty=d,yyyyMMdd,_tm m,10,_plat
split.item.seperate=\ 
# such as: finished_gameparty=d,yyyyMMdd,_tm
split.column.seperate=,
# such as: feed_clicked_20130318
split.name.seperate=_
split.file.num=6

# hive config
hive.task.monitor.interval=60000
hive.task.export.dir=/data/mf/hive/export
hive.task.db.name=logcenter_mf
hive.task.export.size=50000

hive.gzip.error.path=/data/mf/hgz
hive.zip.error.path=/data/mf/hzip

# hive每个入库文件的大小:3G
hive.text.file.size=3221225472

#用于存放比较条件的key name
comparator.condition=comparator__condition

#在查询单调记录时把结束时间延迟120秒，主要时用于解决memberlog和tablelog时间不一致的问题
record.addnum=240
#回朔天数
daynum.name=daynum
#回朔天数默认值，以天为单位
daynum.default=10
gamecoin.flow.dir=/data/mf/flow/export
condition.segment=__

#flume http post
#flume.post.url=http://jack.boyaa.com:8090
flume.post.url=http://172.20.43.131:9999
http.tables=ip_login,winlog
spark.socket.url=172.20.43.131
spark.socket.port=9999

#相关程序退出标记：0不退出，1退出
zip.quit=0
gzip.quit=0
gzip2.quit=0
inc.quit=0
update.quit=0
#程序退出标记
pro.exit=0
#0不开启报警，1开启邮件报警，2开启短信报警
pro.warning=2
#报警发送邮件:TBC.DevLeader@boyaa.com
warning.email=ZhuangjieZheng@boyaa.com
#报警时长间隔3600*1000
warning.internal=3600000
warning.phone=13632904323
warning.tables=user_gambling,gamecoins_stream,gambling_detail
warning.name=ZhuangjieZheng
warning.clazz=com.boyaa.base.utils.FileCountWarningUtil,com.boyaa.base.utils.UploadWarningUtil

# 上面所有监控目录都改为以下配置项
file.monitor.path=/data/mf/gz
#是否拷贝原始目录的文件到指定目录：0为否，1为是
cp.file=0
cp.file.to=/data/mf/gz.cp

file.error.path=/data/mf/error/event.hive/

# meta config
meta.monitor.path=/data/mf/config
meta.monitor.files=meta1.ini,meta13.ini,meta14.ini,meta15.ini

# global file
global.monitor.path=/data/mf/config
global.monitor.files=global.ini

# system file
system.monitor.files=system.config

# local file
local.monitor.path=/data/mf/tomcat/webapps/mf/WEB-INF/classes
local.monitor.files=app.config

# sql file
sql.monitor.path=/data/mf/config
sql.monitor.files=sql.ini

# bpid file
bpid.monitor.path=/data/mf/config
bpid.monitor.files=games.ini

# sid file
sid.monitor.path=/data/mf/config
sid.monitor.files=sid.ini

# gid exclude file
gid.exclude.monitor.path=/data/mf/config
gid.exclude.monitor.files=gid_exclude.ini

# special row key file
htable.monitor.path=/data/mf/config
htable.monitor.files=htable.ini

# split table rules file
split.monitor.path=/data/mf/config
split.monitor.files=split.ini

# db split table rules file
db.split.monitor.path=/data/mf/config
db.split.monitor.files=db_split.ini

# hbtables file
hbtables.monitor.path=/data/mf/config/hbtables
hbtables.monitor.suffix.list=.xml

# hbrowkey row key file
hbrowkey.monitor.path=/data/mf/config
hbrowkey.monitor.files=hbrowkey.ini

# hive config file
#hitables.monitor.path=/data/mf/config/hitables
#hitables.monitor.suffix.list=.xml

# hive partitioned.ini file
partition.monitor.path=/data/mf/config
partition.monitor.files=partitioned.ini

#***************************以上配置是NBLog的,MF不做更改*****************************